certifi==2018.8.24
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-GraphQL==2.0.0
graphene>=2.0
graphql-core==2.1
graphql-server-core==1.1.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
promise==2.1
requests==2.19.1
Rx==1.6.1
six==1.11.0
typing==3.6.6
urllib3==1.23
Werkzeug==0.14.1
